
table {
    margin: 100px auto; 
    width: 50%;
    border-collapse: collapse;
}

th {
    background-color: #fd2;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
td {
    padding: 8px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s; 
}

button a {
    color: white;
    text-decoration: none; 
}


.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25%;
}

button:hover {
    transform: scale(1.1); 
}
h1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}
.header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.headerA {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}