/* styles.css */

/* 표 전체에 대한 스타일 */
table {
    margin: 100px auto; 
    width: 50%;
    border-collapse: collapse;
}

/* 표 머리글(테이블 헤더) 스타일 */
th {
    background-color: #fd2;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* 표 셀 스타일 */
td {
    padding: 8px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s; 
}
/* 링크 스타일 */
button a {
    color: white; /* 버튼 내의 링크 텍스트 색상 설정 */
    text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
}


/* 버튼을 테이블 왼쪽으로 이동 */
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-right: 25%;
}

button:hover {
    transform: scale(1.1); /* 1.1배 확장 */
}
h1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}
/* 헤더 링크 스타일 */
.header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.headerA {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}