/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* 제목 스타일 */
h1 {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}

/* 헤더 링크 스타일 */
.header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.headerA {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

/* 학생 정보 테이블 스타일 */
.student-info {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-info h2 {
    font-size: 24px;
    margin-top: 0;
}

.student-info table {
    width: 100%;
    border-collapse: collapse;
}

.student-info table th,
.student-info table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.student-info table th {
    background-color: #333;
    color: white;
}
/* 버튼 스타일 */
button {
    background-color: black; /* 검은색 배경 */
    color: white; /* 흰색 텍스트 */
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
}

button:hover {
    background-color: #333; /* 마우스 호버 시 색 변경 */
}

/* 링크 스타일 */
button a {
    color: white; /* 버튼 내의 링크 텍스트 색상 설정 */
    text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
}

button a:hover {
    text-decoration: underline; /* 링크 텍스트에 호버 시 밑줄 추가 */
}

/* 버튼을 테이블 왼쪽으로 이동 */
.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-right: 29%;
}
